.header-wrapper .header {
    width: 1494px;
}

.header-top-li {
    margin-right: 30px;
    /* padding-right: 30px; */
    font-size: 14px;
}

.header-topleft-li-line {
    margin-right: 25px;
    padding-right: 25px;
}

.body-wrapper1 {
    height: 494px;
}

.column_wrapper {
    width: 1494px;
}

.logo {
    width: 243px;
    height: 27px;
    top: 27px;
}

.firstSearch {
    width: 470px;
    height: 40px;
    left: 453px;
}

.firstSearch .left {
    width: 390px;
    height: 40px;
    padding-left: 24px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.firstSearch .left input {
    width: 310px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
}

.firstSearch_a {
    font-size: 16px;
    line-height: 40px;
    padding-left: 25px;
    height: 40px;
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/icon-hot_search.png
) no-repeat left center;
}

.firstSearch .right {
    width: 56px;
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.firstSearch .right input {
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/icon-searchMax.png) no-repeat center center;
    width: 56px;
    height: 40px;
}

.firstSearch .left .sContent {
    width: 392px;
    padding-top: 11px;
    padding-bottom: 10px;
    left: 20px;
    top: 40px;
}

.sContent .hotSearch {
    padding: 0 9px;
    font-size: 16px;
}

.hotSearch .text {
    line-height: 30px;
    height: 30px;
    margin-bottom: 0px;
}

.sContent .hotSearch a {
    line-height: 32px;
    margin-bottom: 0px;
}

.swiper-wrapper {
    height: 494px;
}

.slider-btn {
    width: 1178px;
    top: 104px;
    margin-left: -747px;
}

.slider-btn .btn {
    width: 30px;
    height: 60px;
    top: 116px;
}

.slider-btn .btnleft {
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/live_left_1500.png);
}

.slider-btn .btnright {
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/live_right_1500.png);
}

.slider-btn .con {
    width: 1004px;
    padding-right: 174px;
}

.slider-btn .con .image {
    width: 100%;
    height: 291px;
    border-radius: 5px;
    overflow: hidden;
}


.slider-btn .con ul li {
    width: 144px;
    padding-right: 15px;
    float: left;
}

.slider-btn .con ul li {
    width: 233px;
    padding-right: 18px;
}

.slider-btn .con .title {
    font-size: 18px;
    line-height: 26px;
    margin-top: 6px;
    height: 52px;
}

.swiper-wrapper .floatText {
    width: 236px;
    height: 425px;
    padding: 30px 40px 39px 40px;
}

.swiper-wrapper .floatText .live {
    font-size: 24px;
    padding-left: 34px;
}

.swiper-wrapper .floatText .liveon {
    line-height: 74px;
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/icon-hot_hover_1500.png
) no-repeat left center;
    /* https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/icon-hot_hover_1500.png */
}

.swiper-wrapper .floatText .liveco {
    line-height: 52px;
    margin-top: 11px;
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/icon-jingxuan_1500.png
) no-repeat left center;
}

.swiper-wrapper .floatText .onhover {
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/icon-hot_1500.png) no-repeat left center;
}

.swiper-wrapper .floatText .cohover {
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/icon-jingxuan_hover_1500.png
) no-repeat left center;
}


.swiper-pagination .bullet {
    line-height: 48px;
    height: 48px;
    font-size: 16px;
}

.nav-container {
    height: 153px;
    padding-bottom: 20px;
}

.nav-container .nav1-left {
    width: 844px;
    padding: 30px 0 0 16px;
}

.nav-container .nav1-left .nav1-div {
    height: 40px;
    padding: 0 21px;
    margin-bottom: 15px;
    /* position: relative; */
}

.nav-container .nav1-left .nav1-div>a {
    line-height: 40px;
    font-size: 18px;
}

/* 图标 */
.nav-container .nav1-left .nav1-div i {
    /* display: inline-block; */
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-right: 13px;
    float: left;
}

/* 直播前面的图标 */
/* .nav1_icon0{
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/ind02_1500_01.png)
    no-repeat center center;
    background-color: rgb(72, 97, 206);
} */
/* 直播前面的图标 */
/* .nav1_icon1{
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/ind02_1500_07.png)
    no-repeat center center;
}
.nav1_icon2{
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/ind02_1500_02.png)
    no-repeat center center;
}
.nav1_icon3{
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/ind02_1500_01.png)
    no-repeat center center;
} */

.nav-container .nav2-right {
    width: 440px;
    padding: 32px 20px 0 40px;
}

.nav-container .nav2-right li {
    width: 110px;
    float: left;
}

.nav-container .nav2-right li a {
    font-size: 18px;
}

.nav-container .nav2-div {
    height: 37px;
    line-height: 37px;
    margin-bottom: 18px;
}

.hotToday {
    padding-bottom: 19px;
}

.hotToday .textTab {
    padding-bottom: 20px;
}

.hotToday .textTab h3 {
    font-size: 36px;
    line-height: 56px;
}

.nav1-line {
    height: 73px;
    width: 1px;
    margin-top: 41px;
    background: #c5c5c5;
    float: left;
}

.nav1e-phone {
    width: 55px;
    /* margin-top: 41px; */
    margin-left: 40px;
    float: left;
}

.nav1e-erweima {
    width: 68px;
    height: 68px;
    margin-top: 35px;
    margin-left: 29px;
    border-radius: 5px;
    box-shadow: #ccc 1px 1px 10px;
    /* display: none; */
    margin-top: -5px;
}

.nav1-end {
    display: block;
    float: left;
    width: 130px;
    margin-top: 41px;
}

.nav1e-phone i {
    display: inline-block;
    width: 42px;
    height: 50px;
    margin-left: 10px;
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/sj1500.png) no-repeat;
    margin-bottom: 5px;
}

.hotToday_content li {
    font-size: 16px;
    line-height: 26px;
    width: 198px;
    margin-bottom: 24px;
}

.hotToday_content ul li.first {
    width: 414px;
}

.end3 {
    display: block !important;
}

.end2 {
    display: block !important;
}

.hotToday_content ul li .image {
    height: 112px;
    width: 198px;
}

.hotToday_content ul li.first .image {
    height: 232px;
    width: 414px;
}

.hotToday_content ul li.first .text {
    padding: 25px 20px 35px 20px;
}

.hotToday_content ul li.first .text .title {
    font-size: 18px;
    line-height: 48px;
    height: 48px;
}

.hotToday_content ul li .title {
    padding-top: 10px;
    height: 52px;
}

/* jiemu */
/* 节目单图标 */
.textTab .program {
    font-size: 16px;
    margin-top: 16px;
}

.hotToday .rightt {
    padding-top: 10px;
    font-size: 16px;
    margin-top: 6px;
    height: 24px;
}

.hotToday .rightt i {
    /* display: inline-block; */
    width: 24px;
    height: 24px;
    /* vertical-align: top; */
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/zbds_sxan_1510.png) no-repeat center center;
}

.hotToday .rightt span {
    width: 73px;
    height: 22px;
    line-height: 22px;
}

.ttct4 .content {
    padding: 0 30px;
}

.pro {
    height: 178px;
}

.pro_btn {
    width: 31px;
    height: 138px;
    top: 20px;
}

.pro_btn_left {
    background: #FFFFFF url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/left_1500.png) no-repeat center center;
}

.pro_btn_right {
    background: #FFFFFF url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/right_1500.png) no-repeat center center;
}

.li_con {
    width: 198px;
    height: 110px;
}

.li_con .title {
    font-size: 16px;
    line-height: 26px;
    margin: 5px auto 10px 0px;
}

.li_con .brief {
    font-size: 16px;
    line-height: 26px;
    height: 48px;
}

.pro_con ul li {
    padding: 30px 0px 28px 0;
}

.li_line {
    width: 198px;
}

.pro_shadow {
    background-image: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/jiemudan_yy_1500.png);
}

.inner_cctv5 {
    padding-bottom: 55px;
}

.ttct5 {
    height: 134px;
    width: 100%;
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/line.jpg) repeat-x 0 106px;
}

.ttct5 .cctv5_ul {
    width: 1512px;
}

.ttct5 .cctv5_ul li {
    padding-top: 35px;
    width: 198px;
}

.ttct5 .cctv5_ul li .text {
    font-size: 16px;
    line-height: 26px;
}

.ttct5 .cctv5_ul li .brief {
    padding-bottom: 28px;
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/now_1710.png) no-repeat bottom center;
}

.ttcv5_con .img {
    height: 248px;
}

.ttcv5_con .text_2 .title {
    font-size: 16px;
    line-height: 38px;
    margin-top: 10px;
}

.ttcv5_con .text_2 {
    font-size: 16px;
    line-height: 26px;
}

.ttct5 li {
    width: 198px;
}


.ttcv5_con .hover {
    width: 238px;
    height: 353px;
    left: -20px;
    top: -10px;
}

.ttcv5_con .hover .img {
    width: 238px;
    height: 134px;
}

.ttcv5_con .hover .text h3 {
    font-size: 16px;
    height: 52px;
    line-height: 52px;
    padding-top: 3px;
}

.ttcv5_con .hover .text span {
    font-size: 16px;
    line-height: 24px;
    height: 96px;
    padding-bottom: 15px;
}

.ttcv5_con .hover .text .label {
    line-height: 52px;
    height: 52px;
}

.ttcv5_con .hover .text .label a {
    font-size: 16px;
}

.cctv5_ul2 {
    width: 1512px;
}

.cctv5_ul2 li {
    width: 198px;
}

.blue-wrapper {
    height: 375px;
    padding: 56px 0;
    background-image: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/ind06_bg1500.png);
    margin-bottom: 50px;
}

.blue-wrapper ul {
    width: 1500px;
    padding: 0;
}

.blue-wrapper ul li {
    height: 117px;
    width: 117px;
    margin: 4px;
}

.blue-wrapper ul .cel02 {
    width: 242px;
}

.blue-ul li a {
    font-size: 24px;
    /* line-height: 116.99px; */
}

/********************************************************************************************************
/* 片库 */

.video_vault_wrapper {
    width: 1494px;
    padding: 0 30px;
    margin-left: -30px;
    padding-bottom: 60px;
    /* background-color: rgb(247, 82, 82); */
}

.video_vault,
.watch_focus {
    padding-bottom: 20px;
}

.video_vault_left h3,
.watch_focus h3 {
    font-size: 36px;
    line-height: 56px;
}

.video_vault_right {
    padding-top: 10px;
}

.video_vault_right a {
    width: 130px;
    font-size: 20px;
    margin-left: 10px;
    height: 36px;
    line-height: 36px;
}

.video_vault_right a.cur {
    border-radius: 18px;
}

.video_vault_contain {
    height: 365px;
}

.video_vault_inside {
    width: 1494px;
    height: 356px;
}

.video_vault_ul {
    width: 1512px;
}

.video_vault_ul .end2 {
    display: block !important;
}

.video_vault_ul .end3 {
    display: block !important;
}

.video_vault_li {
    width: 198px;

}

.video_vault_con {
    margin-bottom: 8px;
}

.video_vault_con .common .img {
    width: 198px;
    height: 248px;
}

.video_vault_con .common .img img {
    width: 198px;
    height: 248px;
}

.video_vault_con .common .text {
    height: 58px;
    line-height: 58px;
    font-size: 16px;
}

.video_vault_con .hover {
    width: 238px;
    height: 353px;
    left: -20px;
    top: -10px;
}

.video_vault_con .hover .img {
    width: 238px;
    height: 134px;
}

.video_vault_con .hover .text h3 {
    font-size: 16px;
    height: 52px;
    line-height: 52px;
    padding-top: 3px;
}

.video_vault_con .hover .text span {
    font-size: 16px;
    line-height: 24px;
    height: 96px;
    padding-bottom: 15px;
}

.video_vault_con .hover .text .label {
    line-height: 52px;
    height: 52px;
}

.video_vault_con .hover .text .label a {
    font-size: 16px;
}

.video_vault_typeLabel {
    height: 42px;
    line-height: 42px;
    width: 160px;
    font-size: 16px;
    background-image: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/ind07_textBg1500_1710.png);
}

/* 看点 */
.watch_focus span {
    margin-left: 30px;
    height: 36px;
    margin-top: 10px;
}

.watch_focus span a {
    font-size: 16px;
    margin: 0 5px;
    line-height: 36px;
    padding: 0px 11px;
}

.watch_focus a:hover {
    border-radius: 18px;
}

.watch_focus_left {
    width: 1080px;
}

.watch_focus_left li {
    width: 198px;
    margin-bottom: 15px;
}

.watch_focus_left li .image {
    width: 198px;
    height: 112px;
}

.watch_focus_left li .text .title {
    font-size: 16px;
    line-height: 26px;
    margin-top: 6px;
    height: 52px;
}

.watch_focus_left li .text .brief {
    line-height: 44px;
}

/* 右边收视top榜 */
.watch_focus_right {
    width: 414px;
}

/* 右侧列表背景图片 */
.watch_focus_list_bg {
    background-image: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/tingyin_bg_1710.png);
    width: 140px;
    height: 68px;
    right: 24px;
}

/* 右侧列表标题 */
.watch_focus_list_top {
    margin-bottom: 26px;
    font-size: 28px;
    line-height: 32px;
}

/* 右侧列表内容 */
.watch_focus_list_con {
    height: 597px;
    width: 414px;
    background-image: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/bangdan_con_1500.png);
}


.watch_focus_list_con ul {
    padding-top: 17px;
}

/* 列表每一个元素设置 */
.watch_focus_list_con ul li {
    height: 49px;
}

/* 列表最左侧图标大小设置 */
.watch_focus_list_con ul li i {
    width: 22px;
    height: 44px;
    margin-right: 24px;
}


.watch_focus_alllist {
    line-height: 73px;
    font-size: 18px;
}

/* 四个人头 */
.four_people {
    padding-bottom: 60px;
    padding-top: 28px;
}

.four_people ul {
    width: 1500px;
}

.four_people ul li {
    width: 369px;
    height: 131px;
    margin-right: 6px;
}

.four_people ul li .img {
    width: 154px;
}

.four_people ul li .text {
    padding: 40px 20px 36px 0;
}

.four_people ul li .text .title {
    font-size: 18px;
    line-height: 24px;
}

.four_people ul li .text .brief {
    font-size: 16px;
    line-height: 22px;
}

/* .listen_voice_right_con{
    width: 414px;
} */
.listen_voice_right_con ul li {
    height: 105px;
}

.listen_voice_right_con ul li .image {
    width: 105px;
    margin-right: 30px;
}

.listen_voice_right_con ul li .image img {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.listen_voice_right_con ul li .text {
    padding: 20px 20px 20px 0px;
}

.listen_voice_right_con ul li .text .title {
    font-size: 18px;
    line-height: 38px;
}

.listen_voice_right_con ul li .text .brief {
    font-size: 16px;
    line-height: 28px;
}

.listen_voice_hover_img {
    width: 90px;
    height: 90px;
    display: none;

}

/* 广告 */
.advert {
    padding-bottom: 60px;
    padding-top: 28px;
}

.advert1,
.advert2,
.advert4 {
    display: none;
}

.advert3 {
    display: block;
    border-radius: 5px;
}

/* 年代剧推荐 */
.time_play_div ul {
    padding: 42px 36px 0 36px;
}

.time_play_div ul li {
    height: 88px;
    line-height: 88px;
}

.time_play_div ul li:last-child {
    padding-bottom: 41px;
}

/* 拉长效果部分 */
.length_effect {
    padding-bottom: 60px;
    padding-top: 28px;
    width: 1512px;
}

.length_effect_item {
    width: 198px;
    height: 112px;
}

/* 变长度 */
/* .length_effect_item_changewidth {
width: 846px!important;
} */

.length_effect_item .img {
    width: 198px;
}

.length_effect_item .img_hover {
    width: 630px;
}

.length_effect_con .end3 {
    display: inline-block !important;
}

.length_effect_con .end2 {
    display: inline-block !important;
}

.length_effect_con .end1 {
    display: none !important;
}

/* 央视大全 */
.cctv_daqo_title .image {
    height: 63px;
}

.cctv_daqo_title .image a {
    width: 314px;
    height: 39px;
}

.cctv_daqo_button table {
    height: 142px;
}

.cctv_daqo_button table td {
    width: 165px;
}

.cctv_daqo_con {
    width: 1492px;
    min-height: 203px;
}

.cctv_daqo_box_left {
    padding: 20px 20px 16px 55px;
    width: 255px;
    min-height: 168px;
}


.cctv_daqo_box_left .text p {
    margin-bottom: 5px;
    margin-top: 11px;
    font-size: 18px;
    line-height: 22px;
}

.cctv_daqo_box_left .text a {
    font-size: 16px;
    line-height: 22px;
}

.cctv_daqo_box_right {
    width: 1140px;
    padding: 30px 0;
}

.cctv_daqo_box_right table td {
    width: 155px;
    padding-left: 20px;
    height: 36px;
    font-size: 16px;
}

/* dibu */
.footer_wrapper {
    height: 300px;
}

.footer_top {
    width: 1494px;
}

.about_us {
    padding-top: 28px;
}

.about_us dl.dl0 {
    width: 285px;
}

.about_us dl.dl1 {
    width: 285px;
    padding-left: 42px;
}

.about_us dl.dl2 {
    width: 220px;
    padding-left: 32px;
}

.about_us dl.dl3 {
    width: 294px;
}

.about_us dl dt {
    font-size: 20px;
    padding-bottom: 28px;
    padding-top: 0;
}

.about_us dl.dl3 dt {
    padding-bottom: 26px;
    height: 31px;
}

.about_us dl dd {
    height: 88px;
}

.about_us dl dd ul li {
    width: 134px;
    line-height: 14px;
    padding-bottom: 21px;
}

.about_us dl.dl1 ul li {
    width: 134px;
}

.about_us dl.dl2 ul li {
    min-width: 104px;
    max-width: 208px;
}

.about_us dl.dl3 ul li {
    width: 118px;
    padding-bottom: 16px;
}

.about_us dl.dl3 ul li.last {
    width: 56px;
}

.about_us dl dd ul li a {
    font-size: 14px;
}

.about_us .ask {
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
}

.about_us .ask a {
    font-size: 14px;
}

.footer_tbg {
    height: 199px;
}

.footer_bottom {
    height: 100px;
    font-size: 12px;
}

.footer_bottom_con {
    width: 1494px;
}

.class_popup_contain {
    width: 1494px;
}

.class_popup_title .close {
    margin-right: -747px;
}

.navigation_wrapper {
    height: 79px;
}

.navigation {
    width: 1494px;
}

.navigation_right {
    padding-top: 20px;
}

.navigation_left span {
    margin: 29px 33px 0 0;
}

.navigation_left span img {
    width: 194px;
    height: 22px;
}

.navigation_ul>li {
    line-height: 79px;
}

.navigation_ul>li a {
    padding: 0 15px;
    font-size: 16px;
}

.navigation_right .firstSearch {
    margin-right: 20px;
}

.navigation_right .firstSearch .left {
    width: 388px;
    height: 38px;
}

.navigation_headpic {
    width: 40px;
    height: 40px;
    display: block;
}

.dialog {
    top: 80px;
}

.diapd .column_wrapper {
    height: 237px;
    margin-left: -747px;
}

.diapd ul {
    padding-top: 24px;
}

.diapd ul li {
    height: 47px;
    margin: 0 72px 24px 0;
}

.diapd ul li a {
    padding: 0;
    font-size: 16px;
}

.diapd ul li a img {
    width: 102px;
    height: 47px;
}

.dia_Complete {
    height: 293px;
}

.dialmcom {
    height: 225px;
    /* bottom: 0; */
    position: absolute;
    left: 0;
    width: 100%;
}

.dia_Complete {
    height: 293px;
}

.dialmcom .title {
    height: 60px;
}

.dialmcom .title li {
    line-height: 60px;
}

.dialmcom .title li a {
    padding: 0 20px;
    font-size: 18px;
}

.dia_Complete .listbox {
    padding: 38px 0 0 0;
    height: 195px;
}

.dia_Complete .listbox li {
    width: 249px;
}

.dia_Complete .listbox li .list {
    line-height: 20px;
    margin-bottom: 26px;
}

.dia_Complete .listbox li .list a {
    padding: 0;
}

.diakd {
    top: 80px;
    margin: 0 -139px;
    width: 279px;
    height: 188px;
}

.diakdcon {
    height: 188px;
}

.diakdcon ul {
    padding: 38px 40px 12px 40px;
}

.diakdcon ul li {
    width: 85px;
}

.diakdcon ul li .list {
    width: 85px;
    margin-bottom: 26px;
    line-height: 20px;
}

.diakdcon ul li .list a {
    line-height: 20px;
    font-size: 16px;
}

.navigation_ul .display {
    display: block;
}

.dia_all {
    height: 443px;
}

.dia_all .column_wrapper {
    height: 443px;
    margin-left: -747px;
}

.dia_all .column_wrapper span {
    line-height: 84px;
    font-size: 16px;
}

.alltitle {
    margin-top: 24px;
}

.alltitle li {
    margin-left: 40px;
    width: 100px;
    height: 36px;
    line-height: 36px;
    background: url(https://p3.img.cctvpic.com/photoAlbum/templet/common/DEPA1628231077516717/btnbg2.png) no-repeat center center;
}

.allpd {
    margin-bottom: 8px;
}

.allpd i {
    margin-top: 22px;
    width: 124px;
    font-size: 16px;
    line-height: 20px;
}

.allpd ul {
    width: 1370px;
    margin-top: 12px;
}

.alllm {
    margin-bottom: 16px;
}

.alllm i {
    width: 124px;
    font-size: 16px;
}

.alllm ul {
    width: 1370px;
}

.alllm ul li {
    width: 172px;
}

.allpd ul li {
    margin: 12px 0;
    margin-right: 56px;
    height: 47px;
}

.allpd ul li a {
    font-size: 16px;
}

.allpd ul li a img {
    width: 102px;
    height: 47px;
}

/* 侧边导航条 */
.float_wrapper {
    width: 80px;
    font-size: 16px;
    line-height: 36px;
    display: block;
}

.float_con {
    padding-top: 20px;
    height: 656px;
}

.float ul li {
    margin-bottom: 4px;
}

.float ul li a {
    padding-top: 40px;
    background-position: center 10px;
}

.nav_li .diacon_all {
    left: 136px;
    bottom: 137px;
}

.nav_li .nav_diacon .dialog_all {
    padding: 30px 0 0 30px;
    width: 1188px;
    height: 231px;
}

.nav_li .nav_diacon .dialog_all .icon {
    left: 235px;
}

.nav_li .nav_diacon .dialog_all ul li {
    width: 102px;
    height: 47px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.nav_li .nav_diacon .dialog_all ul li a {
    line-height: 40px;
    font-size: 18px;
}

.nav_li .nav_diacon .dialog_all ul li a img {
    width: 102px;
    height: 47px;
}

.nav1-div .nav_record {
    left: 287px;
    bottom: 80px !important;
}

.nav_tv {
    left: 50px !important;
    bottom: 80px !important;

}

.nav_car {
    left: 182px !important;
    bottom: 80px !important;

}

.nav1-div .nav_record .dialog_record .icon {
    left: 40px;
}

.dia_record_box h5 a {
    float: none;
}

.dia_record_box a {
    line-height: 40px;
    font-size: 18px;
}